<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="keyword">
    <div v-for="name in filterdList">{{name}}</div>

  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          keyword:'',
          names:[
            '佐藤',
            '山田',
            '鈴木',
            '田中'
          ],
        }
      },
      computed: {
        filterdList() {
          return this.names.filter(name => {
            return name.indexOf(this.keyword) !== -1
          })
        }
      },
    })
</script>
</body>
</html>